body
	font 14px Georgia, Helvetica, Arial, sans-serif
	background-color #f0f0f0
	color vgraylight
	padding-top 20px
	position relative

h2, strong
	color vgraydark

section 
	margin-top 20px

.bt
	color vgraydark
	background-color #fff
	text-decoration none
	padding 8px
	font 14px Quicksand
	border-radius 5px
	display inline-block

.clear
	clear both

#main
	position relative
	width 95%
	max-width 920px
	margin auto