#project
	display block
	#page_description
		font-size 42px
		line-height 44px

#skills
	.title
		margin-right 10px
	.cnt
		overflow hidden

#diaporama
	position relative
	width 100%
	overflow hidden
	border-bottom 1px dotted #c0c0c0
	margin-bottom 20px
	padding-bottom 10px
	ul
		float left
		width 90%
		height 380px
		overflow hidden
		background-color #ff00ff
	// li
	// 	position absolute

#diaporama_controls
	position relative
	float left
	text-align right
	margin-left 1%
	width 9%
	.bts
		position relative
		border-bottom 1px dotted #c0c0c0
		padding-bottom 15px
	.bt
		position relative
		display block
		text-align center
	.prev
		margin-bottom 4px
	#pagination 
		line-height 50px
		*
			display inline-block