#project
	display block
	.top
		overflow hidden
		padding-bottom 10px
		.left, .right 
			float left
		.left
			width 30%
			margin-right 4%
		.right 
			width 30%
	#page_title
		font-size h = 28px
		height h
		line-height h + 2px
		margin-bottom 10px
	#page_description
		color #3d3944
		margin-bottom 10px
		.holder
			margin-bottom 2px
	#page_description, #skills
		font-size h = 18px
		line-height h + 2px
		.holder
			height h

#skills
	margin-bottom 10px
	.title
		margin-right 10px
	.cnt
		overflow hidden
	.jobs
		color #ff9c66
		margin-bottom 10px

#bt_visit
	margin-top 20px

#project_description
	font-size 14px
	font-weight 400
	margin-top 38px
	.description
		margin-bottom 10px

#diaporama
	position relative
	width 100%
	overflow hidden
	border-bottom 1px dotted #c0c0c0
	margin-bottom 20px
	padding-bottom 10px
	ul
		float left
		width 90%
		height 380px
		overflow hidden
		background-color #ff00ff

#diaporama_controls
	position relative
	float left
	text-align right
	margin-left 1%
	width 9%
	.bts
		position relative
		border-bottom 1px dotted #c0c0c0
		padding-bottom 15px
	.bt
		position relative
		display block
		text-align center
	.prev
		margin-bottom 4px
	#pagination 
		text-align center
		line-height 50px
		font-size 34px
		color #a59ab9
		*
			display inline-block