@import "mixins"

vworkswidth = 220px
vworksheight = 200px
#works
	margin-top 10px
	li
		position relative
		overflow hidden
		float left
		width vworkswidth
		height vworksheight
		margin-right 1%
		margin-bottom 10px
		forcegpu()
		&:last-child
			margin-right 0
		h3
			position absolute
			background-color #fff
			font 14px Quicksand
			color vgraylight
			padding 7px 10px 7px 10px
			opacity 0
		.project
			position absolute
			width vworkswidth
			height vworksheight
			img
				position absolute
			.layer
				width vworkswidth
				height vworksheight
				.bts
					margin-top 70px
		&.show
			h3
				transition opacity 0.4s ease-out
				opacity 1
			&:hover
				h3
					transition background-color 0.4s ease-out
					background-color vorange
					color #fff
				.background
					opacity 1
				.details
					bottom 0
				.btzoom
					transition-delay 0.2s
					transform scale( 1, 1 )
					opacity 1
				.bt
					margin-left 10px
					transition-delay 0.3s
					opacity 1