doctype 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="description", content="Profesional works and personal projects of Florian Zumbrunn, Creative Developer.")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
		title Floz - Projects and Experiments
		link(rel='stylesheet', href='/stylesheets/fonts/quicksand.css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/mfglabs_iconset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='/javascripts/vendors/modernizr.min.js')
	body
		#main
			block menu
				include menu
			#main_content
				block content
			footer
				.holder
					h3 Feel free to <a href="mailto:florian.zumbrunn@gmail.com">get in touch</a>!

		script(src='/javascripts/vendors/jquery.js')
		script(src='/javascripts/vendors/signals.min.js')
		script(src='/javascripts/vendors/greensock/plugins/ScrollToPlugin.min.js')
		script(src='/javascripts/vendors/greensock/TweenMax.min.js')
		script(src='/javascripts/main.min.js')

		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-4896538-5']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();