doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quicksand')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#main
			block menu
				include menu
			block content