include mixins

-var entries = [ { url: '/', id: "about", name: "ABOUT ME" }, { url: '/works', id: "works", name: "WORKS" } ]

nav#menu
	ul
		-for entry in entries
			-if( entry.id == navId )
				li.activated.animated.hide
					mixin bt( entry.name, entry.url )
			-else
				li.animated.hide
					mixin bt( entry.name, entry.url )