include mixins

-var entries = [ { url: '/', id: "home", name: "HOME" } ]

nav#menu
	-if( navId == "home" )
		#bt_home.activated
			mixin bt( "HOME", "/" )
	-else 
		#bt_home
			mixin bt( "HOME", "/" )

	nav#social
		ul
			li
				a(href="mailto:florian.zumbrunn@gmail.com", target="_blank")
					span.icon.icon-mail
			li
				a(href="https://github.com/floz", target="_blank")
					span.icon.icon-git
			li
				a(href="http://twitter.com/florianzumbrunn", target="_blank")
					span.icon.icon-twitter
			li
				a(href="http://www.linkedin.com/profile/view?id=40157525&trk=tab_pro", target="_blank")
					span.icon.icon-linked_in
