extends layout

block content
	article#project
		.top
			.bt BACK
			h3.title ONE PIECE
			.left
				h3.subtitle DEVELOPMENT OF THE LAUNCHING SITE OF THE GAME ONE PIECE FOR PS3
				h2.jobs 
					p LEAD DEVELOPER 
					p PROJECT MANAGER
				.technos HTML/FLASH/JS
				.bt > VISIT
			.right
				p I worked blabla
				p blablabla
				p lblalsdalsd
		.bot
			.left
				.slides
			.right
				.controls
					.bts
						.bt NEXT >
						.bt < PREV
					.pagination 2/5