extends layout
include mixins

block content
	article#project
		.top
			mixin bt( "BACK", "#" )
			h3.title ONE PIECE
			.left
				h3.subtitle DEVELOPMENT OF THE LAUNCHING SITE OF THE GAME ONE PIECE FOR PS3
				h2.jobs 
					p LEAD DEVELOPER 
					p PROJECT MANAGER
				.technos HTML/FLASH/JS
				mixin bt( "> VISIT", "#" )
			.right
				p I worked blabla
				p blablabla
				p lblalsdalsd
		.bot
			.left
				.slides
			.right
				.controls
					.bts
						mixin bt( "NEXT >", "#" )
						mixin bt( "< PREV", "#" )
					.pagination 2/5