extends layout

block content
	section#works
		ul
			-for project in data
				li
					a(href="/works/"+project.id)
						.project
							img(src=project.preview, alt=project.title)
							.layer
								.bts
									.btzoom
										.circle
										.plus
									.bt VIEW MORE
								.details 
									span FLASH - HTML
						h3= project.title