#home
	.top
		font-weight bold
		h2, h3
			display inline
		h3
			color vgraydark
		h2
			color vorange
		.title
			position relative
			font-size 58px
			line-height 54px
			height 54px
			overflow hidden
			.content
				position absolute	
		.description
			font-size 48px
			line-height 44px
			.holder
				position relative
				overflow hidden
				height 44px
				.content
					position absolute
		.skills
			position relative
			overflow hidden
			font-size h = 28px
			font-weight 300
			color vgrayviolet
			margin-top 5px
			margin-bottom 8px
			.holder
				position relative
				float left
				overflow hidden
				height h = h + 5
				.emul
					visibility hidden
				.content
					position absolute
		.bt
			margin-bottom 20px
	.bot
		border-top 1px dotted vgraylight
		padding-top 20px
		.holder
			position relative
			height h = 28px
			overflow hidden
			h4
				position absolute
				font-size h
				top 0
		ul
			overflow hidden
			margin-top 10px
		li
			position relative
			overflow hidden
			float left
			margin-left 9px
			a
				text-decoration none
				color vgraydark
			h3
				display inline-block
				background-color #fff
				font 14px Quicksand
				padding 10px
				transition background-color 0.4s ease-out
				transition-delay 0.1s
			.project
				margin-top 2px
				border 5px solid #fff
				width 290px
				height 140px
				img
					position absolute
					width 290px
					height 140px
			&:first-child
				margin-left 0px
			&:hover
				a
					color #fff
				h3
					background-color vorange
				.background
					opacity 1
				.details
					bottom 0
				.btzoom
					transition-delay 0.2s
					transform scale( 1, 1 )
					opacity 1
				.bt
					margin-left 10px
					transition-delay 0.3s
					opacity 1
		&>.bt
			margin-top 10px
			margin-bottom 100px
