#home
	.top
		font-weight bold
		h2, h3
			display inline
		h3
			color vgraydark
		h2
			color vorange
		.title
			position relative
			font-size 58px
			line-height 54px
			height 54px
			overflow hidden
			.content
				position absolute
				top 58px
			&.show
				.content
					transition top 0.4s ease-out
					top 0px
			&.hide
				.content
					top 58px
		.description
			font-size 48px
			line-height 44px
			.holder
				position relative
				overflow hidden
				height 44px
				.content
					position absolute
					top 48px
				&.show
					.content
						transition top 0.4s ease-out
						top 0px
					for i in 1 2 3 4
						&.d{i}
							.content
								transition-delay i * 0.125s

		.skills
			position relative
			overflow hidden
			font-size 28px
			font-weight 300
			color vgrayviolet
			margin-top 5px
			margin-bottom 8px
			span
				display block
				float left
		.bt
			margin-bottom 20px
	.bot
		border-top 1px dotted vgraylight
		padding-top 20px
		h4
			font-size 28px
		ul
			overflow hidden
			margin-top 10px
		li
			position relative
			overflow hidden
			float left
			margin-left 9px
			a
				text-decoration none
				color vgraydark
			h3
				display inline-block
				background-color #fff
				font 14px Quicksand
				padding 10px
			.project
				margin-top 2px
				border 5px solid #fff
				width 290px
				height 140px
				img
					position absolute
					width 290px
					height 140px
			&:first-child
				margin-left 0px
			&:hover
				a
					color #fff
				h3
					background-color vorange
		&>.bt
			margin-top 10px
			margin-bottom 100px
