#home
	.top
		font-weight bold
		h2, h3
			display inline
		h3
			color vgraydark
		h2
			color vorange
		.title
			font-size 58px
			line-height 54px
		.description
			font-size 48px
			line-height 44px
			div
				overflow hidden
		.skills
			position relative
			overflow hidden
			font-size 28px
			font-weight 300
			color vgrayviolet
			margin-top 5px
			margin-bottom 8px
			span
				display block
				float left
		.bt
			margin-bottom 20px
	.bot
		border-top 1px dotted vgraylight
		padding-top 20px
		h4
			font-size 28px
		ul
			overflow hidden
			margin-top 10px
		li
			position relative
			overflow hidden
			float left
			margin-left 9px
			&:first-child
				margin-left 0px
			h3
				display inline-block
				background-color #fff
				font 14px Quicksand
				padding 10px
			.project
				margin-top 2px
				border 5px solid #fff
				width 290px
				height 140px
				img
					position absolute
					width 290px
					height 140px
		&>.bt
			margin-top 10px
			margin-bottom 100px
