@import "mixins"

#menu
	padding-bottom 20px
	border-bottom 1px dotted #c0c0c0
	li
		float left
		margin-left 10px
		antiflick()
		&.activated
			.bt
				background-color vorange
				color #fff
		for i in 1 2
			&.d{i}
				.bt
					transition-delay i * 0.075s
		&:first-child
			margin-left 0px
