#project
	.top, .bot
		overflow hidden
	.left, .right
		float left
	.top
		margin-top 15px
		border-bottom 1px dotted vgraylight
		*
			margin-bottom 10px
		.left
			width 300px
			p
				margin 0
			.bt
				margin-top 5px
		.title
			font 28px Georgia
			font-weight bold
			color vgraylight
		.subtitle, .jobs, .technos
			font 18px Georgia
			font-weight bold
			color vgraydark
		.jobs
			color vorange
		.technos
			color vgrayviolet
		.right
			width 300px
			font 14px Georgia
			font-weight bold
			color vgraylight
	.bot
		position relative
		height 400px
		margin-top 20px
		.slides
			width 600px
			height 400px
			background-color #ff00ff
		.bt
			display block
			margin-bottom 5px
		.right
			margin-left 10px
		.pagination
			text-align center
			font 34px Georgia
			font-weight normal
			color vgrayviolet
			margin-top 10px
			border-top 1px dotted vgraylight

