body {
  font: 14px Georgia, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #756d83;
  padding-top: 20px;
  position: relative;
}
h2,
strong {
  color: #3d3944;
}
section {
  margin-top: 20px;
}
.bt {
  color: #3d3944;
  background-color: #fff;
  text-decoration: none;
  padding: 8px;
  font: 14px Quicksand;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.layer {
  position: absolute;
  background-color: rgba(117,109,131,0.7);
  width: 290px;
  height: 140px;
}
.layer .bts {
  margin: auto;
  width: 150px;
  height: 60px;
  overflow: hidden;
  margin-top: 40px;
}
.layer .btzoom {
  position: relative;
  float: left;
  width: 56px;
  height: 56px;
}
.layer .btzoom .circle {
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: rgba(255,255,255,0.3);
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.layer .btzoom .plus {
  background-image: url("../images/icon_plus.png");
  width: 39px;
  height: 39px;
  margin: 8px auto 0px auto;
}
.layer .bt {
  float: left;
  background-color: #ff9c66;
  color: #fff;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 12px;
}
.layer .details {
  position: absolute;
  bottom: -40px;
  background-color: #fff;
  height: 40px;
  width: 100%;
}
.layer .details span {
  display: block;
  padding-left: 10px;
  padding-top: 14px;
  font: 11px "Times New Roman";
  color: #756d83;
}
#main {
  position: relative;
  width: 920px;
  margin: auto;
}
#menu {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px dotted #c0c0c0;
}
#menu a {
  text-decoration: none;
  color: #756d83;
  font: 14px Quicksand;
}
#menu li .content {
  background-color: #fff;
  float: left;
  padding: 7px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
#menu li.activated .content {
  background-color: #ff9c66;
}
#menu li.activated a {
  color: #fff;
}
#home .top {
  font-weight: bold;
}
#home .top h2,
#home .top h3 {
  display: inline;
}
#home .top h3 {
  color: #3d3944;
}
#home .top h2 {
  color: #ff9c66;
}
#home .top .title {
  font-size: 58px;
  line-height: 54px;
}
#home .top .description {
  font-size: 48px;
  line-height: 44px;
}
#home .top .description div {
  overflow: hidden;
}
#home .top .skills {
  position: relative;
  overflow: hidden;
  font-size: 28px;
  font-weight: 300;
  color: #a59ab9;
  margin-top: 5px;
  margin-bottom: 8px;
}
#home .top .skills span {
  display: block;
  float: left;
}
#home .top .bt {
  margin-bottom: 20px;
}
#home .bot {
  border-top: 1px dotted #756d83;
  padding-top: 20px;
}
#home .bot h4 {
  font-size: 28px;
}
#home .bot ul {
  overflow: hidden;
  margin-top: 10px;
}
#home .bot li {
  position: relative;
  overflow: hidden;
  float: left;
  margin-left: 9px;
}
#home .bot li:first-child {
  margin-left: 0px;
}
#home .bot li h3 {
  display: inline-block;
  background-color: #fff;
  font: 14px Quicksand;
  padding: 10px;
}
#home .bot li .project {
  margin-top: 2px;
  border: 5px solid #fff;
  width: 290px;
  height: 140px;
}
#home .bot li .project img {
  position: absolute;
  width: 290px;
  height: 140px;
}
#home .bot>.bt {
  margin-top: 10px;
  margin-bottom: 100px;
}
#works {
  margin-top: 10px;
}
#works li {
  position: relative;
  overflow: hidden;
  float: left;
  width: 220px;
  height: 200px;
  margin-right: 1%;
  margin-bottom: 10px;
}
#works li:last-child {
  margin-right: 0;
}
#works li h3 {
  position: absolute;
  background-color: #fff;
  font: 14px Quicksand;
  color: #756d83;
  padding: 7px 10px 7px 10px;
}
#works li .project {
  position: absolute;
  width: 220px;
  height: 200px;
}
#works li .project img {
  position: absolute;
}
#works li .project .layer {
  display: none;
  width: 220px;
  height: 200px;
}
#works li .project .layer .bts {
  margin-top: 70px;
}
#works li:hover h3 {
  background-color: #ff9c66;
  color: #fff;
}
#project .top,
#project .bot {
  overflow: hidden;
}
#project .left,
#project .right {
  float: left;
}
#project .top {
  margin-top: 15px;
  border-bottom: 1px dotted #756d83;
}
#project .top * {
  margin-bottom: 10px;
}
#project .top .left {
  width: 300px;
}
#project .top .left p {
  margin: 0;
}
#project .top .left .bt {
  margin-top: 5px;
}
#project .top .title {
  font: 28px Georgia;
  font-weight: bold;
  color: #756d83;
}
#project .top .subtitle,
#project .top .jobs,
#project .top .technos {
  font: 18px Georgia;
  font-weight: bold;
  color: #3d3944;
}
#project .top .jobs {
  color: #ff9c66;
}
#project .top .technos {
  color: #a59ab9;
}
#project .top .right {
  width: 300px;
  font: 14px Georgia;
  font-weight: bold;
  color: #756d83;
}
#project .bot {
  position: relative;
  height: 400px;
  margin-top: 20px;
}
#project .bot .slides {
  width: 600px;
  height: 400px;
  background-color: #f0f;
}
#project .bot .bt {
  display: block;
  margin-bottom: 5px;
}
#project .bot .right {
  margin-left: 10px;
}
#project .bot .pagination {
  text-align: center;
  font: 34px Georgia;
  font-weight: normal;
  color: #a59ab9;
  margin-top: 10px;
  border-top: 1px dotted #756d83;
}
