body {
  font: 14px Georgia, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #756d83;
  padding-top: 20px;
  position: relative;
}
h2,
strong {
  color: #3d3944;
}
section {
  margin-top: 20px;
}
.bt {
  color: #3d3944;
  background-color: #fff;
  text-decoration: none;
  padding: 8px;
  font: 14px Quicksand;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.clear {
  clear: both;
}
#main {
  position: relative;
  width: 95%;
  max-width: 920px;
  margin: auto;
}
#page_title {
  position: relative;
  font-size: 58px;
  line-height: 54px;
  height: 54px;
  overflow: hidden;
}
#page_title .scrolling_content {
  position: absolute;
}
#page_description {
  font-size: 48px;
  line-height: 44px;
}
#page_description .holder {
  position: relative;
  overflow: hidden;
  height: 44px;
}
#page_description .holder .scrolling_content {
  position: absolute;
}
#page_description .holder.small {
  height: 40px;
  font-size: 40px;
  line-height: 40px;
}
#skills {
  position: relative;
  overflow: hidden;
  font-size: 28px;
  font-weight: 300;
  color: #a59ab9;
  margin-top: 5px;
  margin-bottom: 8px;
}
#skills .holder {
  position: relative;
  float: left;
  overflow: hidden;
  height: 33px;
}
#skills .holder .emul {
  visibility: hidden;
}
#skills .holder .scrolling_content {
  position: absolute;
}
article.top {
  font-weight: bold;
  border-bottom: 1px dotted #c0c0c0;
  margin-bottom: 20px;
}
article.top h2,
article.top h3 {
  display: inline;
}
article.top h3 {
  color: #3d3944;
}
article.top h2 {
  color: #ff9c66;
}
#menu {
  padding-bottom: 20px;
  border-bottom: 1px dotted #c0c0c0;
}
#menu li {
  float: left;
  margin-left: 10px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#menu li.activated .bt {
  background-color: #ff9c66;
  color: #fff;
}
#menu li:first-child {
  margin-left: 0px;
}
#home .bot {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
#home .bot .holder {
  position: relative;
  height: 28px;
  overflow: hidden;
}
#home .bot .holder h4 {
  position: absolute;
  font-size: 28px;
  top: 0;
}
#home .bot ul {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}
#home .bot li {
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 10px;
  width: 32.5%;
  margin-right: 1.25%;
  height: 180px;
}
#home .bot li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #3d3944;
}
#home .bot li a span {
  display: block;
}
#home .bot li .cnt_project_title {
  background-color: #fff;
  display: block;
  padding: 10px;
  height: 17px;
  width: auto;
}
#home .bot li .cnt_project_title .cnt {
  display: inline-block;
  height: 17px;
  width: auto;
  overflow: hidden;
}
#home .bot li .cnt_project_title .project_title {
  position: relative;
  width: auto;
  top: 14px;
  font: 14px Quicksand;
}
#home .bot li .project_holder {
  position: relative;
  overflow: hidden;
  height: 140px;
  margin-top: 3px;
}
#home .bot li .project {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}
#home .bot li .cnt_img {
  position: absolute;
  overflow: hidden;
  margin-top: 1.5%;
  margin-left: 1.5%;
  width: 97%;
  height: 94%;
}
#home .bot li .cnt_img img {
  position: absolute;
}
#home .bot li .layer {
  position: absolute;
  width: 100%;
  height: 140px;
}
#home .bot li .layer .background {
  position: absolute;
  background-color: rgba(117,109,131,0.7);
  margin-top: 1.5%;
  margin-left: 1.5%;
  width: 97%;
  height: 94%;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#home .bot li .layer .bts {
  position: relative;
  margin: auto;
  width: 150px;
  height: 60px;
  margin-top: 30px;
}
#home .bot li .layer .btzoom {
  position: relative;
  float: left;
  width: 56px;
  height: 56px;
}
#home .bot li .layer .btzoom .circle {
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: rgba(255,255,255,0.3);
  -webkit-border-radius: 28px;
  border-radius: 28px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#home .bot li .layer .btzoom .plus {
  position: absolute;
  background-image: url("../images/icon_plus.png");
  width: 40px;
  height: 40px;
  top: 9px;
  left: 9px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
#home .bot li .layer .bt {
  float: left;
  background-color: #ff9c66;
  margin-top: 14px;
  margin-left: 13px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#home .bot li .layer .bt .cnt {
  width: auto;
  height: 10px;
  overflow: hidden;
}
#home .bot li .layer .bt .txt {
  color: #fff;
  font-size: 10px;
  top: 10px;
  position: relative;
}
#home .bot li .layer .details {
  position: absolute;
  bottom: -40px;
  background-color: #fff;
  height: 40px;
  width: 100%;
}
#home .bot li .layer .details .cnt {
  height: 11px;
  width: auto;
  padding-left: 10px;
  padding-top: 14px;
  overflow: hidden;
}
#home .bot li .layer .details .txt {
  position: relative;
  font: 11px "Times New Roman";
  color: #756d83;
  top: 11px;
}
#home .bot>.bt {
  margin-top: 10px;
}
@media ( min-width: 768px ) {
  #home .bot ul li:nth-child(3) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(6) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(9) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(12) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(15) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(18) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(21) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(24) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(27) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(30) {
    margin-right: 0;
  }
}
@media ( max-width: 768px ) {
  #home #page_title {
    font-size: 42px;
    line-height: 42px;
    height: 42px;
  }
  #home #page_description {
    font-size: 32px;
    line-height: 32px;
  }
  #home #page_description .holder {
    height: 32px;
  }
  #home #page_description .holder.small {
    height: 26px;
    font-size: 26px;
    line-height: 26px;
  }
  #home #skills {
    font-size: 22px;
  }
  #home #skills .holder {
    height: 27px;
  }
  #home .bot .holder {
    height: 22px;
  }
  #home .bot .holder h4 {
    font-size: 22px;
  }
  #home .bot li {
    width: 48.75%;
    margin-right: 2.5%;
  }
  #home .bot li h3 {
    font-size: 12px;
  }
  #home .bot ul li:nth-child(2) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(4) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(6) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(8) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(10) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(12) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(14) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(16) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(18) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(20) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(22) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(24) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(26) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(28) {
    margin-right: 0;
  }
  #home .bot ul li:nth-child(30) {
    margin-right: 0;
  }
}
@media ( max-width: 480px ) {
  #home #page_title {
    font-size: 32px;
    line-height: 32px;
    height: 32px;
  }
  #home #page_description {
    font-size: 24px;
    line-height: 24px;
  }
  #home #page_description .holder {
    height: 24px;
  }
  #home #page_description .holder.small {
    height: 18px;
    font-size: 18px;
    line-height: 18px;
  }
  #home #skills {
    font-size: 14px;
  }
  #home #skills .holder {
    height: 19px;
  }
  #home .bot .holder {
    height: 18px;
  }
  #home .bot .holder h4 {
    font-size: 18px;
  }
  #home .bot ul {
    margin-top: 0;
  }
  #home .bot li {
    width: 97.5%;
    margin-right: 0;
  }
}
@media ( max-width: 380px ) {
  #home #page_title {
    font-size: 22px;
    line-height: 22px;
    height: 22px;
  }
  #home #page_description {
    font-size: 18px;
    line-height: 18px;
  }
  #home #page_description .holder {
    height: 18px;
  }
  #home #page_description .holder.small {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
  }
  #home #skills {
    font-size: 10px;
  }
  #home #skills .holder {
    height: 15px;
  }
  #home .bot .holder {
    height: 14px;
  }
  #home .bot .holder h4 {
    font-size: 14px;
  }
}
#project {
  display: block;
}
#project .top {
  overflow: hidden;
}
#project .top .left,
#project .top .right {
  float: left;
}
#project .top .left {
  width: 30%;
  margin-right: 4%;
}
#project .top .right {
  width: 30%;
}
#page_title {
  font-size: 28px;
  height: 28px;
  line-height: 30px;
  margin-bottom: 10px;
}
#page_description {
  color: #3d3944;
  margin-bottom: 10px;
}
#page_description .holder {
  margin-bottom: 2px;
}
#page_description,
#skills {
  font-size: 18px;
  line-height: 20px;
}
#page_description .holder,
#skills .holder {
  height: 18px;
}
#skills {
  margin-bottom: 10px;
}
#skills .title {
  margin-right: 10px;
}
#skills .cnt {
  overflow: hidden;
}
#skills .jobs {
  color: #ff9c66;
  margin-bottom: 10px;
}
#bt_visit {
  margin-top: 20px;
  margin-bottom: 20px;
}
#project_description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 38px;
}
#project_description .description {
  margin-bottom: 10px;
}
#diaporama {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dotted #c0c0c0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#diaporama ul {
  float: left;
  width: 90%;
  height: 380px;
  overflow: hidden;
  background-color: #f0f;
}
#diaporama_controls {
  position: relative;
  float: left;
  text-align: right;
  margin-left: 1%;
  width: 9%;
}
#diaporama_controls .bts {
  position: relative;
  border-bottom: 1px dotted #c0c0c0;
  padding-bottom: 15px;
}
#diaporama_controls .bt {
  position: relative;
  display: block;
  text-align: center;
}
#diaporama_controls .prev {
  margin-bottom: 4px;
}
#diaporama_controls #pagination {
  text-align: center;
  line-height: 50px;
  font-size: 34px;
  color: #a59ab9;
}
#diaporama_controls #pagination * {
  display: inline-block;
}
