body {
  font: 14px Georgia, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #756d83;
  padding-top: 20px;
  position: relative;
}
h2,
strong {
  color: #3d3944;
}
section {
  margin-top: 20px;
}
#main {
  position: relative;
  width: 940px;
  margin: auto;
}
#menu {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px dotted #c0c0c0;
}
#menu a {
  text-decoration: none;
  color: #756d83;
  font: 14px Quicksand;
}
#menu li {
  list-style: none;
}
#menu li .content {
  background-color: #fff;
  float: left;
  padding: 7px;
  border-radius: 5px;
  margin-right: 10px;
}
#menu li.activated .content {
  background-color: #ff9c66;
}
#menu li.activated a {
  color: #fff;
}
#home .top {
  font-weight: bold;
}
#home .top h2,
#home .top h3 {
  display: inline;
}
#home .top h3 {
  color: #3d3944;
}
#home .top h2 {
  color: #ff9c66;
}
#home .top div {
  overflow: hidden;
}
#home .top .title {
  font-size: 58px;
  line-height: 54px;
}
#home .top .description {
  font-size: 48px;
  line-height: 44px;
}
