vworkswidth = 220px
vworksheight = 200px
#works
	margin-top 10px
	li
		position relative
		overflow hidden
		float left
		width vworkswidth
		height vworksheight
		margin-right 1%
		margin-bottom 10px
		&:last-child
			margin-right 0
		h3
			position absolute
			background-color #fff
			font 14px Quicksand
			color vgraylight
			padding 7px 10px 7px 10px
		.project
			position absolute
			width vworkswidth
			height vworksheight
			img
				position absolute
			.layer
				display none
				width vworkswidth
				height vworksheight
				.bts
					margin-top 70px
		&:hover
			h3
				background-color vorange
				color #fff