body
	font 14px Georgia, Helvetica, Arial, sans-serif
	background-color #f0f0f0
	color vgraylight
	padding-top 10px
	position relative

h2, strong
	color vgraydark

section 
	margin-top 20px

.bt
	text-decoration none
	color vgraydark
	position relative
	background-color #fff
	font 14px Quicksand
	border-radius 5px
	display inline-block
	padding 8px
	.cnt
		display inline-block
		position relative
		overflow hidden
		height 14px
	.content
		position relative
		top 14px

.clear
	clear both

#main
	position relative
	width 95%
	max-width 920px
	margin auto
	opacity 0

#page_title
	position relative
	font-size 58px
	line-height 54px
	height 54px
	overflow hidden
	.scrolling_content
		position absolute

#page_description
	font-size 48px
	line-height 44px
	.holder
		position relative
		overflow hidden
		height 44px
		forcegpu()
		.scrolling_content
			position absolute
		&.small
			height h = 40px
			font-size h
			line-height h
#skills
	position relative
	overflow hidden
	font-size h = 28px
	font-weight 300
	color vgrayviolet
	margin-top 5px
	margin-bottom 8px
	.holder
		position relative
		float left
		overflow hidden
		height h = h + 5
		.emul
			visibility hidden
		.scrolling_content
			position absolute

article.top
	font-weight bold
	border-bottom 1px dotted #c0c0c0
	margin-bottom 20px
	h2, h3
		display inline
	h3
		color vgraydark
	h2
		color vorange

footer
	border-top 1px dotted #c0c0c0
	margin-top 50px
	margin-bottom 40px
	padding-top 20px
	.holder
		position relative
		height 24px
		overflow hidden
	h3
		font-size 24px
		color vgraydark
		position absolute
		top 0
		left 0
	a
		color vorange
