@import "mixins"

#menu
	overflow hidden
	padding-bottom 20px
	border-bottom 1px dotted #c0c0c0

#bt_home
	float left
	forcegpu()
	&.activated
		.bt
			background-color vorange
			color #fff

#social
	float right
	ul
		overflow hidden
	li
		float left
		font-size 18px
		margin-left 10px
		a
			display block
			background-color #fff
			border-radius 5px
			padding 5px 20px
			text-decoration none
			color vgraylight
			transition color 400ms ease-out, background-color 400ms ease-out
			&:hover
				color #fff
				background-color vorange